<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Live Stress Detection</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Live Emotion Detection</h1>
  <img src="{{ url_for('video_feed') }}" width="720" height="520">
  <br>
  <a href="/"><button>Back</button></a>

  <footer>
    <p>Created by Baji Babu</p>
    <a href="https://linkedin.com/in/baji692" target="_blank"><img src="{{ url_for('static', filename='linkedin.png') }}" alt="LinkedIn"></a>
    <a href="https://github.com/Baji692" target="_blank"><img src="{{ url_for('static', filename='github.png') }}" alt="GitHub"></a>
  </footer>
</body>
</html>
